In [54]:
import pandas as pd
import numpy as np

In [55]:
college_attainment = pd.read_csv("/Users/rahulramakrishnan/Documents/love_hate_relationship/competitions/cmda_competition/datasets/college_attainment.csv")
infant_mortality = pd.read_csv("/Users/rahulramakrishnan/Documents/love_hate_relationship/competitions/cmda_competition/datasets/DQS_Infant__neonatal__and_postneonatal_mortality_rates__by_detailed_race_and_Hispanic_origin_of_mother__United_States_20241115 (1).csv")
health_conditions = pd.read_csv("/Users/rahulramakrishnan/Documents/love_hate_relationship/competitions/cmda_competition/datasets/health_conditions.csv")
maternal_deaths = pd.read_csv("/Users/rahulramakrishnan/Documents/love_hate_relationship/competitions/cmda_competition/datasets/maternal_deaths.csv")
household_income = pd.read_csv("/Users/rahulramakrishnan/Documents/love_hate_relationship/competitions/cmda_competition/datasets/est_house_income_race/est_house_income_race_eth.csv")

In [56]:
import pandas as pd

# Step 1: Filter necessary columns for demographics and enrollment data
cols_of_interest = ['year', 'col_white', 'mkt_white', 'dif_white', 
                    'col_hispa', 'mkt_hispa', 'dif_hispa',
                    'col_black', 'mkt_black', 'dif_black', 
                    'col_asian', 'mkt_asian', 'dif_asian', 
                    'col_amind', 'mkt_amind', 'dif_amind', 
                    'col_pacis', 'mkt_pacis', 'dif_pacis', 
                    'col_twora', 'mkt_twora', 'dif_twora']

filtered_data = college_attainment[cols_of_interest]

# Step 2: Set `year` as the index for alignment with other datasets
reshaped_college_data = filtered_data.groupby('year').mean()  # Aggregate by year if duplicates exist

# Step 3: Rename columns for consistency and clarity
reshaped_college_data.columns = reshaped_college_data.columns.map(lambda x: f"college_{x.lower()}")

# Step 4: Reset index to keep `year` as a column for merging
reshaped_college_data.reset_index(inplace=True)

# Preview the reshaped dataset
display(reshaped_college_data)

## FINAL

,year,college_col_white,college_mkt_white,college_dif_white,college_col_hispa,college_mkt_hispa,college_dif_hispa,college_col_black,college_mkt_black,college_dif_black,...,college_dif_asian,college_col_amind,college_mkt_amind,college_dif_amind,college_col_pacis,college_mkt_pacis,college_dif_pacis,college_col_twora,college_mkt_twora,college_dif_twora
0,2009,55.341673,59.676672,-8.589454,12.395262,14.446636,-0.461454,17.879376,13.429961,6.291945,...,-0.352094,2.389398,0.674170,0.801631,NaN,0.157383,NaN,1.057307,1.659403,-0.552528
1,2010,54.418203,59.889038,-5.450665,13.140958,14.224539,-1.071807,18.441370,12.297657,6.163225,...,-1.181253,2.255110,1.343632,0.856204,0.335171,0.178895,0.156235,1.422073,2.222541,-0.800544
2,2011,53.210136,60.986752,-7.782421,14.288909,14.358465,-0.064450,19.151219,12.419957,6.740619,...,-1.262534,2.228935,1.193238,1.030399,0.362803,0.174337,0.188656,1.806030,1.951948,-0.145311
3,2012,52.416035,60.516996,-8.094046,14.884822,14.704897,0.185325,19.401539,12.614980,6.796554,...,-1.384700,2.237948,1.186650,1.046942,0.358831,0.178825,0.180191,2.087242,2.080798,0.006548
4,2013,51.346422,59.925365,-8.567899,15.390427,14.997895,0.393508,19.818625,12.777303,7.050073,...,-1.450552,2.281750,1.159120,1.120624,0.363551,0.178709,0.184966,2.459782,2.193193,0.267683
5,2014,50.406104,59.567587,-9.178470,15.937923,15.174526,0.786485,19.935535,12.779545,7.148649,...,-1.471552,2.325181,1.183297,1.141424,0.368836,0.180252,0.188530,2.629657,2.287581,0.342268
6,2015,50.490605,59.672903,-9.182297,16.016104,14.948212,1.067892,19.522633,12.896132,6.626501,...,-1.374252,2.357379,1.203945,1.153435,0.326653,0.177979,0.148674,3.066936,2.349302,0.717634
7,2016,50.037628,58.857312,-8.819684,17.063647,15.366779,1.696868,18.871579,12.940530,5.931049,...,-1.296269,2.496479,1.270270,1.226210,0.329364,0.179569,0.149794,2.835479,2.451179,0.384300
8,2017,49.610637,58.249530,-8.638893,18.073559,15.668645,2.404915,18.479386,12.935089,5.544297,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.131250,3.115245,2.546376,0.568869

In [57]:
display(infant_mortality)
infant_mortality.info()
print(infant_mortality.head())

,TOPIC,SUBTOPIC,SUBTOPIC_ID,CLASSIFICATION,CLASSIFICATION_ID,GROUP,GROUP_ID,GROUP_ORDER,SUBGROUP,SUBGROUP_ID,...,ESTIMATE_TYPE,ESTIMATE_TYPE_ID,TIME_PERIOD,TIME_PERIOD_ID,ESTIMATE,STANDARD_ERROR,ESTIMATE_LCI,ESTIMATE_UCI,FLAG,FOOTNOTE_ID_LIST
0,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,Total,0,0,All mothers,0.1,...,"Deaths per 1,000 live births",1,1983,1,10.9,NaN,NaN,NaN,NaN,"FN0514,FN0230,NT0003,SC0042"
1,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,Total,0,0,All mothers,0.1,...,"Deaths per 1,000 live births",1,1985,2,10.4,NaN,NaN,NaN,NaN,"FN0514,FN0230,NT0003,SC0042"
2,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,Total,0,0,All mothers,0.1,...,"Deaths per 1,000 live births",1,1990,3,8.9,NaN,NaN,NaN,NaN,"FN0514,FN0230,NT0003,SC0042"
3,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,Total,0,0,All mothers,0.1,...,"Deaths per 1,000 live births",1,1995,4,7.6,NaN,NaN,NaN,NaN,"FN0515,FN0230,NT0003,SC0042"
4,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,Total,0,0,All mothers,0.1,...,"Deaths per 1,000 live births",1,1996,5,7.3,NaN,NaN,NaN,NaN,"FN0514,FN0230,NT0003,SC0042"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,Maternal race and Hispanic origin (single race),4,4,"White only, non-Hispanic",4.6,...,"Deaths per 1,000 live births",1,2017,26,1.6,NaN,NaN,NaN,NaN,"FN0465,FN0515,FN0230,FN0143,NT0003,SC0042"
1472,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,Maternal race and Hispanic origin (single race),4,4,"White only, non-Hispanic",4.6,...,"Deaths per 1,000 live births",1,2018,27,1.6,NaN,NaN,NaN,NaN,"FN0465,FN0515,FN0230,FN0143,NT0003,SC0042"
1473,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,Maternal race and Hispanic origin (single race),4,4,"White only, non-Hispanic",4.6,...,"Deaths per 1,000 live births",1,2019,28,1.6,NaN,NaN,NaN,NaN,"FN0465,FN0515,FN0230,FN0143,NT0003,SC0042"
1474,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,Maternal race and Hispanic origin (single race),4,4,"White only, non-Hispanic",4.6,...,"Deaths per 1,000 live births",1,2020,29,1.5,NaN,NaN,NaN,NaN,"FN0465,FN0515,FN0230,FN0143,NT0003,SC0042"
1475,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,Maternal race and Hispanic origin (single race),4,4,"White only, non-Hispanic",4.6,...,"Deaths per 1,000 live births",1,2021,30,1.6,NaN,NaN,NaN,NaN,"FN0465,FN0515,FN0230,FN0143,NT0003,SC0042"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476 entries, 0 to 1475
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TOPIC              1476 non-null   object
 1   SUBTOPIC           1476 non-null   object
 2   SUBTOPIC_ID        1476 non-null   int64
 3   CLASSIFICATION     1476 non-null   object
 4   CLASSIFICATION_ID  1476 non-null   int64
 5   GROUP              1476 non-null   object
 6   GROUP_ID           1476 non-null   int64
 7   GROUP_ORDER        1476 non-null   int64
 8   SUBGROUP           1476 non-null   object
 9   SUBGROUP_ID        1476 non-null   float64
 10  SUBGROUP_ORDER     1476 non-null   int64
 11  ESTIMATE_TYPE      1476 non-null   object
 12  ESTIMATE_TYPE_ID   1476 non-null   int64
 13  TIME_PERIOD        1476 non-null   int64
 14  TIME_PERIOD_ID     1476 non-null   int64
 15  ESTIMATE           1421 non-null   float64
 16  STANDARD_ERROR     0 non-null      float64
 17  ESTIMATE_LCI       0 non-null      float64
 18  ESTIMATE_UCI       0 non-null      float64
 19  FLAG               55 non-null     object
 20  FOOTNOTE_ID_LIST   1476 non-null   object
dtypes: float64(5), int64(8), object(8)
memory usage: 242.3+ KB
                                             TOPIC           SUBTOPIC  \
0  Infant, neonatal, and postneonatal death rates:  All infant deaths
1  Infant, neonatal, and postneonatal death rates:  All infant deaths
2  Infant, neonatal, and postneonatal death rates:  All infant deaths
3  Infant, neonatal, and postneonatal death rates:  All infant deaths
4  Infant, neonatal, and postneonatal death rates:  All infant deaths

   SUBTOPIC_ID CLASSIFICATION  CLASSIFICATION_ID  GROUP  GROUP_ID  \
0            1          Total                  0  Total         0
1            1          Total                  0  Total         0
2            1          Total                  0  Total         0
3            1          Total                  0  Total         0
4            1          Total                  0  Total         0

   GROUP_ORDER     SUBGROUP  SUBGROUP_ID  ...                 ESTIMATE_TYPE  \
0            0  All mothers          0.1  ...  Deaths per 1,000 live births
1            0  All mothers          0.1  ...  Deaths per 1,000 live births
2            0  All mothers          0.1  ...  Deaths per 1,000 live births
3            0  All mothers          0.1  ...  Deaths per 1,000 live births
4            0  All mothers          0.1  ...  Deaths per 1,000 live births

  ESTIMATE_TYPE_ID  TIME_PERIOD  TIME_PERIOD_ID  ESTIMATE  STANDARD_ERROR  \
0                1         1983               1      10.9             NaN
1                1         1985               2      10.4             NaN
2                1         1990               3       8.9             NaN
3                1         1995               4       7.6             NaN
4                1         1996               5       7.3             NaN

   ESTIMATE_LCI  ESTIMATE_UCI  FLAG             FOOTNOTE_ID_LIST
0           NaN           NaN   NaN  FN0514,FN0230,NT0003,SC0042
1           NaN           NaN   NaN  FN0514,FN0230,NT0003,SC0042
2           NaN           NaN   NaN  FN0514,FN0230,NT0003,SC0042
3           NaN           NaN   NaN  FN0515,FN0230,NT0003,SC0042
4           NaN           NaN   NaN  FN0514,FN0230,NT0003,SC0042

[5 rows x 21 columns]

In [58]:
# Rename columns for consistency
infant_mortality_cleaned = infant_mortality.rename(
    columns={
        "TOPIC": "topic",
        "SUBTOPIC": "subtopic",
        "SUBTOPIC_ID": "subtopic_id",
        "CLASSIFICATION": "classification",
        "CLASSIFICATION_ID": "classification_id",
        "GROUP": "group",
        "GROUP_ID": "group_id",
        "GROUP_ORDER": "group_order",
        "SUBGROUP": "subgroup",
        "SUBGROUP_ID": "subgroup_id",
        "SUBGROUP_ORDER": "subgroup_order",
        "ESTIMATE_TYPE": "estimate_type",
        "ESTIMATE_TYPE_ID": "estimate_type_id",
        "TIME_PERIOD": "year",
        "ESTIMATE": "infant_mortality_rate",
    }
)

# Drop irrelevant columns for alignment
columns_to_drop = [
    "STANDARD_ERROR",
    "ESTIMATE_LCI",
    "ESTIMATE_UCI",
    "FLAG",
    "FOOTNOTE_ID_LIST",
    "TIME_PERIOD_ID",
]
infant_mortality_cleaned = infant_mortality_cleaned.drop(columns=columns_to_drop, errors="ignore")

# Verify the updated structure
print(infant_mortality_cleaned.info())
print(infant_mortality_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476 entries, 0 to 1475
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   topic                  1476 non-null   object
 1   subtopic               1476 non-null   object
 2   subtopic_id            1476 non-null   int64
 3   classification         1476 non-null   object
 4   classification_id      1476 non-null   int64
 5   group                  1476 non-null   object
 6   group_id               1476 non-null   int64
 7   group_order            1476 non-null   int64
 8   subgroup               1476 non-null   object
 9   subgroup_id            1476 non-null   float64
 10  subgroup_order         1476 non-null   int64
 11  estimate_type          1476 non-null   object
 12  estimate_type_id       1476 non-null   int64
 13  year                   1476 non-null   int64
 14  infant_mortality_rate  1421 non-null   float64
dtypes: float64(2), int64(7), object(6)
memory usage: 173.1+ KB
None
                                             topic           subtopic  \
0  Infant, neonatal, and postneonatal death rates:  All infant deaths
1  Infant, neonatal, and postneonatal death rates:  All infant deaths
2  Infant, neonatal, and postneonatal death rates:  All infant deaths
3  Infant, neonatal, and postneonatal death rates:  All infant deaths
4  Infant, neonatal, and postneonatal death rates:  All infant deaths

   subtopic_id classification  classification_id  group  group_id  \
0            1          Total                  0  Total         0
1            1          Total                  0  Total         0
2            1          Total                  0  Total         0
3            1          Total                  0  Total         0
4            1          Total                  0  Total         0

   group_order     subgroup  subgroup_id  subgroup_order  \
0            0  All mothers          0.1               0
1            0  All mothers          0.1               0
2            0  All mothers          0.1               0
3            0  All mothers          0.1               0
4            0  All mothers          0.1               0

                  estimate_type  estimate_type_id  year  infant_mortality_rate
0  Deaths per 1,000 live births                 1  1983                   10.9
1  Deaths per 1,000 live births                 1  1985                   10.4
2  Deaths per 1,000 live births                 1  1990                    8.9
3  Deaths per 1,000 live births                 1  1995                    7.6
4  Deaths per 1,000 live births                 1  1996                    7.3

In [59]:
# Ensure `year` is numeric
infant_mortality_cleaned["year"] = pd.to_numeric(infant_mortality_cleaned["year"], errors="coerce")

# Normalize subgroup descriptions
infant_mortality_cleaned["subgroup"] = infant_mortality_cleaned["subgroup"].str.lower().str.replace(" ", "_")
infant_mortality_cleaned["group"] = infant_mortality_cleaned["group"].str.lower().str.replace(" ", "_")

In [60]:
# Add geographic placeholder for consistency
infant_mortality_cleaned["geographic_area"] = "United States"
# Check for null values
print(infant_mortality_cleaned.isnull().sum())

# Preview cleaned data
print(infant_mortality_cleaned.head())

topic                     0
subtopic                  0
subtopic_id               0
classification            0
classification_id         0
group                     0
group_id                  0
group_order               0
subgroup                  0
subgroup_id               0
subgroup_order            0
estimate_type             0
estimate_type_id          0
year                      0
infant_mortality_rate    55
geographic_area           0
dtype: int64
                                             topic           subtopic  \
0  Infant, neonatal, and postneonatal death rates:  All infant deaths
1  Infant, neonatal, and postneonatal death rates:  All infant deaths
2  Infant, neonatal, and postneonatal death rates:  All infant deaths
3  Infant, neonatal, and postneonatal death rates:  All infant deaths
4  Infant, neonatal, and postneonatal death rates:  All infant deaths

   subtopic_id classification  classification_id  group  group_id  \
0            1          Total                  0  total         0
1            1          Total                  0  total         0
2            1          Total                  0  total         0
3            1          Total                  0  total         0
4            1          Total                  0  total         0

   group_order     subgroup  subgroup_id  subgroup_order  \
0            0  all_mothers          0.1               0
1            0  all_mothers          0.1               0
2            0  all_mothers          0.1               0
3            0  all_mothers          0.1               0
4            0  all_mothers          0.1               0

                  estimate_type  estimate_type_id  year  \
0  Deaths per 1,000 live births                 1  1983
1  Deaths per 1,000 live births                 1  1985
2  Deaths per 1,000 live births                 1  1990
3  Deaths per 1,000 live births                 1  1995
4  Deaths per 1,000 live births                 1  1996

   infant_mortality_rate geographic_area
0                   10.9   United States
1                   10.4   United States
2                    8.9   United States
3                    7.6   United States
4                    7.3   United States

In [61]:
display(infant_mortality_cleaned)
print(infant_mortality_cleaned.columns)

,topic,subtopic,subtopic_id,classification,classification_id,group,group_id,group_order,subgroup,subgroup_id,subgroup_order,estimate_type,estimate_type_id,year,infant_mortality_rate,geographic_area
0,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,total,0,0,all_mothers,0.1,0,"Deaths per 1,000 live births",1,1983,10.9,United States
1,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,total,0,0,all_mothers,0.1,0,"Deaths per 1,000 live births",1,1985,10.4,United States
2,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,total,0,0,all_mothers,0.1,0,"Deaths per 1,000 live births",1,1990,8.9,United States
3,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,total,0,0,all_mothers,0.1,0,"Deaths per 1,000 live births",1,1995,7.6,United States
4,"Infant, neonatal, and postneonatal death rates:",All infant deaths,1,Total,0,total,0,0,all_mothers,0.1,0,"Deaths per 1,000 live births",1,1996,7.3,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,maternal_race_and_hispanic_origin_(single_race),4,4,"white_only,_non-hispanic",4.6,28,"Deaths per 1,000 live births",1,2017,1.6,United States
1472,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,maternal_race_and_hispanic_origin_(single_race),4,4,"white_only,_non-hispanic",4.6,28,"Deaths per 1,000 live births",1,2018,1.6,United States
1473,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,maternal_race_and_hispanic_origin_(single_race),4,4,"white_only,_non-hispanic",4.6,28,"Deaths per 1,000 live births",1,2019,1.6,United States
1474,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,maternal_race_and_hispanic_origin_(single_race),4,4,"white_only,_non-hispanic",4.6,28,"Deaths per 1,000 live births",1,2020,1.5,United States
1475,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,3,Demographic Characteristic,1,maternal_race_and_hispanic_origin_(single_race),4,4,"white_only,_non-hispanic",4.6,28,"Deaths per 1,000 live births",1,2021,1.6,United States

Index(['topic', 'subtopic', 'subtopic_id', 'classification',
       'classification_id', 'group', 'group_id', 'group_order', 'subgroup',
       'subgroup_id', 'subgroup_order', 'estimate_type', 'estimate_type_id',
       'year', 'infant_mortality_rate', 'geographic_area'],
      dtype='object')

In [62]:

columns_to_drop = [
    "subtopic_id", "classification_id", "group_id", "group_order",
    "subgroup_id", "subgroup_order", "estimate_type_id", "estimate_type"
]

# Drop columns
infant_mortality_cleaned = infant_mortality_cleaned.drop(columns=columns_to_drop, errors="ignore")

# Verify cleaned structure
display(infant_mortality_cleaned)

,topic,subtopic,classification,group,subgroup,year,infant_mortality_rate,geographic_area
0,"Infant, neonatal, and postneonatal death rates:",All infant deaths,Total,total,all_mothers,1983,10.9,United States
1,"Infant, neonatal, and postneonatal death rates:",All infant deaths,Total,total,all_mothers,1985,10.4,United States
2,"Infant, neonatal, and postneonatal death rates:",All infant deaths,Total,total,all_mothers,1990,8.9,United States
3,"Infant, neonatal, and postneonatal death rates:",All infant deaths,Total,total,all_mothers,1995,7.6,United States
4,"Infant, neonatal, and postneonatal death rates:",All infant deaths,Total,total,all_mothers,1996,7.3,United States
...,...,...,...,...,...,...,...,...
1471,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,Demographic Characteristic,maternal_race_and_hispanic_origin_(single_race),"white_only,_non-hispanic",2017,1.6,United States
1472,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,Demographic Characteristic,maternal_race_and_hispanic_origin_(single_race),"white_only,_non-hispanic",2018,1.6,United States
1473,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,Demographic Characteristic,maternal_race_and_hispanic_origin_(single_race),"white_only,_non-hispanic",2019,1.6,United States
1474,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,Demographic Characteristic,maternal_race_and_hispanic_origin_(single_race),"white_only,_non-hispanic",2020,1.5,United States
1475,"Infant, neonatal, and postneonatal death rates:",Postneonatal deaths,Demographic Characteristic,maternal_race_and_hispanic_origin_(single_race),"white_only,_non-hispanic",2021,1.6,United States

In [63]:
# Combine `subtopic` and `subgroup` for unique column labels
infant_mortality_cleaned["death_type_race"] = (
    infant_mortality_cleaned["subtopic"] + "_" + infant_mortality_cleaned["subgroup"]
).str.lower().str.replace(" ", "_").str.replace(",", "_")

# Pivot the dataset
infant_mortality_pivot = infant_mortality_cleaned.pivot_table(
    index="year",
    columns="death_type_race",
    values="infant_mortality_rate",
    aggfunc="mean"  # In case there are duplicates, take the average.
).reset_index()

# Flatten the columns (optional, for clarity)
infant_mortality_pivot.columns = ["year"] + [
    col.lower().replace(" ", "_") for col in infant_mortality_pivot.columns[1:]
]

# Preview the reshaped dataset

In [64]:
infant_mortality_cleaned = infant_mortality_pivot

## FINAL

In [65]:
display(health_conditions)
print(health_conditions["TOPIC"].unique())

,TOPIC,SUBTOPIC,SUBTOPIC_ID,CLASSIFICATION,CLASSIFICATION_ID,GROUP,GROUP_ID,GROUP_ORDER,SUBGROUP,SUBGROUP_ID,...,ESTIMATE_TYPE,ESTIMATE_TYPE_ID,TIME_PERIOD,TIME_PERIOD_ID,ESTIMATE,STANDARD_ERROR,ESTIMATE_LCI,ESTIMATE_UCI,FLAG,FOOTNOTE_ID_LIST
0,Angina/angina pectoris,NaN,NaN,Demographic Characteristic,1,Total,1,1,18 years and older,1,...,"Percent of population, crude",1,2019,NaN,1.7,NaN,1.5,1.9,NaN,"FN_NHISA18,NT_NHISA00,NT_NHISA999,SC_NHISA00"
1,Angina/angina pectoris,NaN,NaN,Demographic Characteristic,1,Total,1,1,18 years and older,1,...,"Percent of population, crude",1,2020,NaN,1.5,NaN,1.3,1.6,NaN,"FN_NHISA18,NT_NHISA00,NT_NHISA999,SC_NHISA00"
2,Angina/angina pectoris,NaN,NaN,Demographic Characteristic,1,Total,1,1,18 years and older,1,...,"Percent of population, crude",1,2021,NaN,1.5,NaN,1.4,1.7,NaN,"FN_NHISA18,NT_NHISA00,NT_NHISA999,SC_NHISA00"
3,Angina/angina pectoris,NaN,NaN,Demographic Characteristic,1,Total,1,1,18 years and older,1,...,"Percent of population, crude",1,2022,NaN,1.6,NaN,1.5,1.8,NaN,"FN_NHISA18,NT_NHISA00,NT_NHISA999,SC_NHISA00"
4,Angina/angina pectoris,NaN,NaN,Demographic Characteristic,1,Total,1,1,18 years and older,1,...,"Percent of population, crude",1,2023,NaN,1.6,NaN,1.4,1.8,NaN,"FN_NHISA18,NT_NHISA00,NT_NHISA999,SC_NHISA00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19955,Wellness visit,NaN,NaN,Socioeconomic Characteristic,3,Poverty level,18,20,≥200% FPL,3,...,"Percent of population, crude",1,2019,NaN,80.7,NaN,80.0,81.4,NaN,"FN_NHISA11,FN_NHISA58,NT_NHISA00,NT_NHISA999,S..."
19956,Wellness visit,NaN,NaN,Socioeconomic Characteristic,3,Poverty level,18,20,≥200% FPL,3,...,"Percent of population, crude",1,2020,NaN,78.9,NaN,78.2,79.6,NaN,"FN_NHISA11,FN_NHISA58,NT_NHISA00,NT_NHISA999,S..."
19957,Wellness visit,NaN,NaN,Socioeconomic Characteristic,3,Poverty level,18,20,≥200% FPL,3,...,"Percent of population, crude",1,2021,NaN,77.0,NaN,76.2,77.7,NaN,"FN_NHISA11,FN_NHISA58,NT_NHISA00,NT_NHISA999,S..."
19958,Wellness visit,NaN,NaN,Socioeconomic Characteristic,3,Poverty level,18,20,≥200% FPL,3,...,"Percent of population, crude",1,2022,NaN,78.8,NaN,78.0,79.5,NaN,"FN_NHISA11,FN_NHISA58,NT_NHISA00,NT_NHISA999,S..."
19959,Wellness visit,NaN,NaN,Socioeconomic Characteristic,3,Poverty level,18,20,≥200% FPL,3,...,"Percent of population, crude",1,2023,NaN,80.5,NaN,79.8,81.2,NaN,"FN_NHISA11,FN_NHISA58,NT_NHISA00,NT_NHISA999,S..."

['Angina/angina pectoris' 'Any difficulty communicating'
 'Any difficulty hearing' 'Any difficulty remembering or concentrating'
 'Any difficulty seeing' 'Any difficulty walking or climbing steps'
 'Any difficulty with self care' 'Any skin cancer' 'Any type of cancer'
 'Arthritis diagnosis' 'Asthma episode/attack' 'Blood pressure check'
 'Breast cancer' 'COPD, emphysema, chronic bronchitis' 'Cervical cancer'
 'Coronary heart disease' 'Counseled by a mental health professional'
 'Current asthma in adults' 'Current cigarette smoking'
 'Current electronic cigarette use'
 'Delayed getting medical care due to cost among adults'
 'Dental exam or cleaning' 'Diagnosed diabetes, self-reported'
 'Did not get needed medical care due to cost'
 'Did not get needed mental health care due to cost'
 'Did not take medication as prescribed to save money'
 'Disability status (composite)' 'Doctor visit among adults'
 'Ever received a pneumococcal vaccination'
 'Exchange-based coverage at time of interview among adults'
 'Fair or poor health status in adults'
 'Has a usual place of care among adults'
 'Heart attack/myocardial infarction'
 'High cholesterol diagnosis, self-reported'
 'Hospital emergency department visit'
 'Hypertension diagnosis, self-reported' 'Obesity, self-reported'
 'Prescription medication use among adults'
 'Private health insurance coverage at time of interview among adults'
 'Prostate cancer'
 'Public health insurance coverage at time of interview among adults'
 'Receipt of influenza vaccination among adults'
 'Regularly experienced chronic pain'
 'Regularly had feelings of depression'
 'Regularly had feelings of worry, nervousness, or anxiety'
 'Six or more workdays missed due to illness, injury, or disability'
 'Taking prescription medication for feelings of depression'
 'Taking prescription medication for feelings of worry, nervousness, or anxiety'
 'Uninsured at time of interview among adults'
 'Uninsured for at least part of the past year'
 'Uninsured for more than one year'
 'Urgent care center or retail health clinic visit among adults'
 'Wellness visit']

In [66]:
print(health_conditions.columns)
print(health_conditions["TIME_PERIOD"].unique())

Index(['TOPIC', 'SUBTOPIC', 'SUBTOPIC_ID', 'CLASSIFICATION',
       'CLASSIFICATION_ID', 'GROUP', 'GROUP_ID', 'GROUP_ORDER', 'SUBGROUP',
       'SUBGROUP_ID', 'SUBGROUP_ORDER', 'ESTIMATE_TYPE', 'ESTIMATE_TYPE_ID',
       'TIME_PERIOD', 'TIME_PERIOD_ID', 'ESTIMATE', 'STANDARD_ERROR',
       'ESTIMATE_LCI', 'ESTIMATE_UCI', 'FLAG', 'FOOTNOTE_ID_LIST'],
      dtype='object')
[2019 2020 2021 2022 2023]

In [67]:
health_conditions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19960 entries, 0 to 19959
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TOPIC              19960 non-null  object
 1   SUBTOPIC           0 non-null      float64
 2   SUBTOPIC_ID        0 non-null      float64
 3   CLASSIFICATION     19960 non-null  object
 4   CLASSIFICATION_ID  19960 non-null  int64
 5   GROUP              19960 non-null  object
 6   GROUP_ID           19960 non-null  int64
 7   GROUP_ORDER        19960 non-null  int64
 8   SUBGROUP           19960 non-null  object
 9   SUBGROUP_ID        19960 non-null  int64
 10  SUBGROUP_ORDER     19960 non-null  int64
 11  ESTIMATE_TYPE      19960 non-null  object
 12  ESTIMATE_TYPE_ID   19960 non-null  int64
 13  TIME_PERIOD        19960 non-null  int64
 14  TIME_PERIOD_ID     0 non-null      float64
 15  ESTIMATE           19015 non-null  float64
 16  STANDARD_ERROR     0 non-null      float64
 17  ESTIMATE_LCI       18883 non-null  float64
 18  ESTIMATE_UCI       18883 non-null  float64
 19  FLAG               1099 non-null   object
 20  FOOTNOTE_ID_LIST   19960 non-null  object
dtypes: float64(7), int64(7), object(7)
memory usage: 3.2+ MB

In [68]:
selected_conditions = [
    "Coronary heart disease",
    "Current cigarette smoking",
    "COPD, emphysema, chronic bronchitis",  # Corrected typo
    "Diagnosed diabetes, self-reported",
    "Obesity, self-reported",
    "Asthma episode/attack",
    "Hypertension diagnosis, self-reported",
    "Cervical cancer"
]

# Normalize case and remove leading/trailing spaces for robust filtering
health_conditions_filtered = health_conditions[
    health_conditions["TOPIC"].str.strip().str.lower().isin(
        [condition.strip().lower() for condition in selected_conditions]
    )
]

print("Unique Topics in the filtered dataset:")
print(health_conditions_filtered["TOPIC"].unique())

Unique Topics in the filtered dataset:
['Asthma episode/attack' 'COPD, emphysema, chronic bronchitis'
 'Cervical cancer' 'Coronary heart disease' 'Current cigarette smoking'
 'Diagnosed diabetes, self-reported'
 'Hypertension diagnosis, self-reported' 'Obesity, self-reported']

In [69]:
# Drop unnecessary columns
columns_to_drop = [
    "SUBTOPIC", "SUBTOPIC_ID", "STANDARD_ERROR", 
    "ESTIMATE_LCI", "ESTIMATE_UCI", "TIME_PERIOD_ID"
]
health_conditions_filtered = health_conditions_filtered.drop(columns=columns_to_drop)

# Rename columns for better clarity
health_conditions_filtered.rename(
    columns={
        "TOPIC": "condition",
        "SUBGROUP": "demographic_group",
        "TIME_PERIOD": "year",
        "ESTIMATE": "value"
    },
    inplace=True
)

# Map demographic groups to simpler categories
group_mapping = {
    "18 years and older": "all_ages",
    "Black only": "black",
    "White only": "white",
    "Asian only": "asian",
    "Hispanic": "hispanic",
    "Non-Hispanic": "non_hispanic",
    "Female": "female",
}

health_conditions_filtered["demographic_group"] = (
    health_conditions_filtered["demographic_group"].map(group_mapping).fillna("other")
)

In [70]:
# Create unique condition + demographic group identifier
health_conditions_filtered["condition_group"] = (
    health_conditions_filtered["condition"] + "_" + health_conditions_filtered["demographic_group"]
).str.lower().str.replace(" ", "_").str.replace(",", "_")

# Pivot the dataset
health_conditions_pivot = health_conditions_filtered.pivot_table(
    index="year",  # Rows are years
    columns="condition_group",  # Columns are condition + demographic group
    values="value",  # Values are the estimate
    aggfunc="mean"  # Handle any duplicates by averaging
).reset_index()

# Flatten multi-level column names
health_conditions_pivot.columns = ["year"] + [
    col.lower().replace(" ", "_") for col in health_conditions_pivot.columns[1:]
]

In [71]:
# Define exceptions (conditions that inherently apply to females only)
exceptions = ["cervical_cancer"]

# Define demographic subgroups to scale
subgroups = ["asian", "black", "white", "other"]

# Iterate through all columns
for col in health_conditions_pivot.columns:
    if "_all_ages" in col and not any(exception in col for exception in exceptions):
        # Get the base condition name
        base_condition = col.replace("_all_ages", "")
        
        # Find the corresponding female column
        female_col = f"{base_condition}_female"
        
        if female_col in health_conditions_pivot.columns:
            # Calculate scaling factor
            scaling_factor = (
                health_conditions_pivot[female_col] / health_conditions_pivot[col]
            )
            
            # Scale all demographic subgroup columns
            for subgroup in subgroups:
                subgroup_col = f"{base_condition}_{subgroup}"
                if subgroup_col in health_conditions_pivot.columns:
                    health_conditions_pivot[subgroup_col] *= scaling_factor

# Verify the results
display(health_conditions_pivot)

## FINAL

,year,asthma_episode/attack_all_ages,asthma_episode/attack_asian,asthma_episode/attack_black,asthma_episode/attack_female,asthma_episode/attack_other,asthma_episode/attack_white,cervical_cancer_all_ages,cervical_cancer_asian,cervical_cancer_black,...,hypertension_diagnosis__self-reported_black,hypertension_diagnosis__self-reported_female,hypertension_diagnosis__self-reported_other,hypertension_diagnosis__self-reported_white,obesity__self-reported_all_ages,obesity__self-reported_asian,obesity__self-reported_black,obesity__self-reported_female,obesity__self-reported_other,obesity__self-reported_white
0,2019,3.4,1.682353,5.694118,4.4,4.685865,4.4,1.1,0.3,0.5,...,34.471852,26.9,30.897995,26.999630,32.1,10.300000,40.600000,32.1,32.811429,31.900000
1,2020,3.5,2.820000,5.774286,4.7,5.047922,4.7,1.0,0.0,0.6,...,34.079699,26.2,29.736015,26.298496,33.0,10.323636,45.039394,33.4,34.127281,32.691515
2,2021,3.3,2.800000,4.933333,4.4,4.678431,4.4,1.0,0.2,0.2,...,33.473978,26.1,29.459873,26.488104,32.8,11.067073,44.268293,33.0,33.530357,32.496951
3,2022,3.7,2.618919,5.513514,5.1,5.350614,5.1,0.8,0.0,0.1,...,33.514706,26.5,29.716465,26.694853,33.1,12.752266,43.317221,33.5,34.248943,32.993958
4,2023,3.8,3.086842,5.905263,5.1,5.593421,5.1,0.9,0.1,0.6,...,33.787636,26.7,29.913709,26.894182,33.8,13.181953,42.420118,33.5,34.261750,33.202663

In [72]:
print(maternal_deaths.columns)
for col in maternal_deaths:
    print(maternal_deaths[col].unique())

Index(['Data As Of', 'Jurisdiction', 'Group', 'Subgroup', 'Year of Death',
       'Month of Death', 'Time Period', 'Month Ending Date', 'Maternal Deaths',
       'Live Births', 'Maternal Mortality Rate', 'Footnote'],
      dtype='object')
['10/06/2024']
['United States']
['Total' 'Age' 'Race and Hispanic origin']
['Total' 'Under 25 years' '25-39 years' '40 years and over' 'Hispanic'
 'American Indian or Alaska Native, Non-Hispanic' 'Asian, Non-Hispanic'
 'Black, Non-Hispanic'
 'Native Hawaiian or Other Pacific Islander, Non-Hispanic'
 'White, Non-Hispanic']
[2019 2020 2021 2022 2023 2024]
[ 1  2  3  4  5  6  7  8  9 10 11 12]
['12 month-ending']
['01/31/2019' '02/28/2019' '03/31/2019' '04/30/2019' '05/31/2019'
 '06/30/2019' '07/31/2019' '08/31/2019' '09/30/2019' '10/31/2019'
 '11/30/2019' '12/31/2019' '01/31/2020' '02/29/2020' '03/31/2020'
 '04/30/2020' '05/31/2020' '06/30/2020' '07/31/2020' '08/31/2020'
 '09/30/2020' '10/31/2020' '11/30/2020' '12/31/2020' '01/31/2021'
 '02/28/2021' '03/31/2021' '04/30/2021' '05/31/2021' '06/30/2021'
 '07/31/2021' '08/31/2021' '09/30/2021' '10/31/2021' '11/30/2021'
 '12/31/2021' '01/31/2022' '02/28/2022' '03/31/2022' '04/30/2022'
 '05/31/2022' '06/30/2022' '07/31/2022' '08/31/2022' '09/30/2022'
 '10/31/2022' '11/30/2022' '12/31/2022' '01/31/2023' '02/28/2023'
 '03/31/2023' '04/30/2023' '05/31/2023' '06/30/2023' '07/31/2023'
 '08/31/2023' '09/30/2023' '10/31/2023' '11/30/2023' '12/31/2023'
 '01/31/2024' '02/29/2024' '03/31/2024' '04/30/2024' '05/31/2024'
 '06/30/2024']
[ 660.  653.  657.  668.  706.  720.  721.  723.  729.  739.  752.  754.
  740.  751.  767.  763.  774.  793.  803.  831.  843.  837.  861.  893.
  899.  894.  911.  904.  908.  987. 1083. 1131. 1157. 1205. 1236. 1249.
 1231. 1200. 1171. 1180. 1165. 1067.  942.  870.  817.  766.  755.  762.
  758.  732.  716.  704.  688.  689.  676.  669.  673.  677.  679.  678.
  708.   98.  103.  101.  107.  113.  116.  117.  112.  111.  106.  109.
  110.  105.  114.  120.  118.  123.  124.  133.  142.  144.  154.  163.
  168.  171.  165.  162.  158.  156.  160.  150.  139.  131.  102.   99.
   96.   92.   88.   91.   90.   94.  108.  461.  453.  464.  469.  500.
  511.  510.  516.  514.  528.  547.  544.  531.  541.  558.  549.  554.
  574.  581.  602.  607.  592.  635.  632.  625.  633.  628.  686.  800.
  822.  854.  877.  886.  871.  856.  835.  842.  823.  750.  650.  616.
  578.  545.  550.  553.  537.  520.  506.  503.  492.  488.  477.  471.
  466.  474.  472.   97.   93.  104.  136.  140.  147.  146.  178.  187.
  181.  188.  191.  192.  195.  182.  167.  153.  126.   83.   89.  100.
  115.  148.  177.  180.  186.  179.  174.  172.  216.  230.  250.  248.
  251.  245.  242.  240.  184.  155.  145.  143.  135.  130.  128.  125.
  119.  127.  129.   nan   12.   11.   14.   16.   15.   13.   17.   18.
   19.   21.   24.   25.   31.   29.   27.   26.   23.   20.   10.   33.
   30.   36.   42.   40.   37.   39.   32.   28.   41.   43.   34.   35.
   22.  221.  210.  224.  232.  236.  235.  241.  233.  229.  243.  262.
  266.  264.  267.  271.  280.  278.  293.  294.  300.  299.  296.  298.
  302.  307.  329.  355.  363.  359.  362.  374.  378.  365.  356.  346.
  340.  332.  275.  265.  270.  253.  261.  254.  238.  228.  246.    0.
  292.  287.  306.  328.  331.  330.  323.  335.  338.  343.  345.  341.
  333.  326.  334.  344.  354.  352.  350.  357.  369.  367.  395.  438.
  470.  517.  529.  508.  494.  504.  468.  411.  392.  380.  320.  313.
  304.  276.  273.  255.  260.  256.  259.  263.  272.]
[3787776 3783489 3771682 3772235 3767999 3757275 3761912 3758847 3761856
 3760121 3749504 3747540 3741390 3744081 3741469 3733000 3718095 3716167
 3704158 3682094 3668018 3648060 3632571 3613647 3586097 3569798 3570865
 3573595 3573026 3584459 3588939 3599589 3613622 3623951 3643084 3664292
 3681963 3691335 3696102 3691554 3688218 3680380 3675085 3680726 3667221
 3658612 3664030 3667758 3672380 3667498 3659394 3649364 3651333 3648896
 3639671 3626120 3619396 3621708 3612788 3596017 3593343 3605397 3603731
 3614225 3617384 3606518  904573  901429  896332  894830  892029  887707
  886531  885087  884871  883679  879538  877803  874203  873116  870491
  866834  861548  859268  854800  847356  841843  834920  830203  825403
  817226  810971  808359  806054  803650  802875  801130  799063  798684
  797996  797869  797334  798499  798098  797251  794713  792215  789969
  788220  789397  785548  782613  783891  784299  785165  784316  783299
  780785  781147  779506  775979  771289  768147  767395  764225  759713
  757477  758592  756342  757250  755991  753524 2756117 2754668 2748124
 2749841 2748198 2741991 2747133 2745464 2748154 2747188 2740604 2739976
 2737166 2740252 2739769 2734758 2725270 2724871 2717268 2703022 2694515
 2681542 2671162 2658445 2640885 2631550 2635016 2639627 2641273 2652817
 2658310 2670107 2683809 2694181 2711989 2731223 2745469 2753946 2758457
 2756011 2754395 2748591 2744647 2748484 2738600 2732726 2735974 2738802
 2741827 2737685 2730700 2723125 2724172 2722913 2717280 2708231 2704432
 2706877 2701223 2689250 2688632 2698498 2698616 2707548 2711562 2703447
  127086  127392  127226  127564  127772  127577  128248  128296  128831
  129254  129362  129761  130021  130713  131209  131408  131277  132028
  132090  131716  131660  131598  131206  129799  127986  127277  127490
  127914  128103  128767  129499  130419  131129  131774  133226  135735
  137995  139291  140394  140830  141608  141820  142218  142845  143073
  143273  144165  144657  145388  145497  145395  145454  146014  146477
  146412  146600  146817  147436  147340  147054  147234  148307  148773
  149427  149831  149547  885705  885333  883687  884928  884930  883801
  885160  885671  887617  888275  886231  886467  886326  888125  888044
  887527  884865  885039  883239  878704  876283  872928  871249  866713
  858833  853365  853143  853483  854389  856973  858586  861675  866414
  870471  876537  885916  896321  903407  909698  912392  915616  918568
  922141  928342  928585  930032  934331  937421  939675  940576  940527
  940544  943168  944155  943767  942753  943892  946498  947224  945200
  946766  952049  953656  958285  961115  962301   29190   29142   29020
   29173   29194   29067   28996   28777   28807   28680   28472   28450
   28217   28083   27964   27866   27724   27671   27570   27469   27338
   27194   27029   26813   26657   26541   26512   26439   26247   26255
   26182   26075   26078   26068   26101   26124   26168   26173   26170
   25945   25971   25858   25812   25776   25593   25514   25659   25721
   25762   25677   25558   25546   25483   25326   25147   24970   24910
   24850   24752   24571   24391   24495   24486   24470   24400   24360
  239787  239619  239116  239023  238550  238251  238472  238444  238270
  238837  238565  238769  238147  237505  236230  234758  233291  231814
  229563  227925  225327  222797  219068  215424  213165  211927  211463
  210376  210739  210446  210732  210980  211062  211966  213813  215574
  216715  217264  217629  218588  218386  218255  218541  218405  218194
  218582  218994  219472  218984  218594  217879  217336  217411  217011
  216558  216260  216760  216451  215738  216125  217389  217992  218787
  219702  219493  551756  550689  548352  548103  547589  545364  546548
  546919  547830  547930  547528  548075  546945  547485  547493  546737
  545152  545720  544025  540741  538342  535444  532744  529811  524803
  521448  519918  518471  516581  516574  516192  515913  516778  516861
  517117  517889  519334  519970  520923  520610  519449  517957  516469
  516914  513223  510428  511342  511439  512189  511531  509746  507455
  507048  506023  503580  499974  498838  498527  495373  491494  488317
  487523  485503  484680  483670  480462    9476    9552    9556    9508
    9559    9524    9564    9613    9623    9681    9672    9770    9783
    9807    9787    9754    9727    9740    9735    9698    9653    9626
    9622    9453    9411    9439    9437    9413    9418    9434    9487
    9515    9491    9531    9583    9710    9799    9835    9834   10023
   10053   10067   10071   10016   10034   10122   10066   10109   10163
   10173   10162   10139   10104   10150   10203   10273   10115   10206
   10265   10189   10260   10144 1953909 1950995 1943613 1942823 1939436
 1932907 1934415 1930331 1930195 1926894 1919129 1915912 1911612 1912332
 1910811 1905248 1896549 1895157 1888232 1876546 1869333 1858695 1850484
 1843432 1833129 1828421 1831864 1835313 1836353 1844316 1847420 1854625
 1862046 1867727 1879198 1887656 1890702 1890441 1887134 1880430 1874466
 1865433 1858773 1857597 1848206 1841746 1841035 1840739 1842042 1837788
 1832410 1825878 1826125 1823964 1818148 1810018 1803779 1802799 1796819
 1787051 1785067 1790150 1787712 1792516 1792037 1783271]
[ 17.4  17.3  17.7  18.7  19.2  19.4  19.7  20.1  19.8  20.5  20.8  21.4
  21.8  22.7  23.1  23.   23.8  24.9  25.2  25.   25.5  25.3  27.4  30.
  31.2  31.8  32.9  33.6  33.8  33.3  32.5  31.7  32.1  29.   25.7  24.4
  23.7  22.3  20.9  20.6  20.   19.6  19.3  19.   18.5  18.8  19.5  10.8
  11.4  11.3  12.   12.7  13.1  13.2  12.8  12.6  12.9  12.2  12.5  13.5
  13.8  13.6  14.4  14.9  14.7  15.3  15.5  16.6  17.8  18.   20.4  21.
  20.7  19.9  20.3  16.7  15.7  13.   12.3  11.8  11.9  11.7  13.3  14.2
  14.8  16.4  16.5  16.9  17.1  18.2  18.6  21.1  21.5  22.6  22.2  22.8
  24.   24.1  23.6  28.4  29.7  30.3  31.3  31.9  32.2  31.6  31.1  30.6
  27.3  22.5  19.1  18.9  18.1  17.5  17.   79.5  76.1  72.3  72.1  72.8
  72.9  72.5  75.3  75.8  71.1  75.5  75.4  73.4  73.9  77.6  79.2  82.6
  87.8  88.1  94.2  93.5 103.7 107.9 114.9 121.  114.5 120.4 124.9 121.1
 120.5 128.8 135.7 141.9 135.9 138.5 138.4 137.8 138.9 129.2 125.7 128.3
 128.  116.9 106.9 102.6  97.1  87.1  79.8  77.   75.7  67.8  65.5  62.8
  64.1  59.9  56.3  60.5  67.2  66.1  67.9  67.6  74.9  10.2  10.1  11.6
  12.4  13.9  15.4  16.2  17.2  26.4  28.5  28.   27.5  26.9  26.5  26.2
  26.7  26.   23.3  15.2  15.1  14.3  13.4   nan  80.2  92.   95.9  92.1
  95.8 118.7 110.8 103.2  99.4 100.2  92.4  92.8  89.1  17.6  16.8  16.3
  10.6  11.2  14.1  14.6  17.9  15.6  16.   10.5  10.    9.1   9.7  11.5
  11.1  10.7  40.1  39.4  38.3  41.1  41.   42.4  43.1  42.9  44.   42.6
  41.8  44.4  47.9  48.8  48.4  49.1  48.5  50.3  52.3  52.2  55.3  56.
  57.5  57.1  57.7  58.5  59.5  63.8  68.7  70.2  69.4  69.9  72.   72.7
  70.1  68.4  66.6  65.6  64.3  59.4  53.6  51.9  52.8  49.5  47.4  51.2
  51.4  49.3  49.4  50.4  48.3  47.3  48.7  50.5  50.2  47.   50.9   0.
  15.8  18.3  21.3  23.5  24.7  26.6  27.   27.1  14.5]
[nan
 'Data counts between 1-9 have been suppressed in accordance with NCHS confidentiality standards.'
 'Rates for deaths counts <20 are unreliable.']

In [73]:
import pandas as pd
import glob

# Define the file paths for all Excel files
file_paths = [
    "/Users/rahulramakrishnan/Downloads/womens-earnings-tables-2018.xlsx",
    "/Users/rahulramakrishnan/Downloads/womens-earnings-tables-2019 (1).xlsx",
    "/Users/rahulramakrishnan/Downloads/womens-earnings-tables-2020.xlsx",
    "/Users/rahulramakrishnan/Downloads/womens-earnings-tables-2021.xlsx",
    "/Users/rahulramakrishnan/Downloads/womens-earnings-tables-2022.xlsx",
    "/Users/rahulramakrishnan/Downloads/womens-earnings-tables-2023.xlsx",
]

# Initialize an empty list to hold the cleaned DataFrames
cleaned_dataframes = []

# Function to clean a single file
def clean_file(file_path):
    print(f"Processing file: {file_path}")
    # Load the specific sheet with Table 16
    df = pd.read_excel(file_path, sheet_name="Table 18", header=4)

    # Drop any completely empty rows
    df.dropna(how="all", inplace=True)

    # Rename the columns
    df.columns = ['Year', 'Total, 16 years and older', 'White', 'Black', 'Asian', 'Hispanic']

    # Drop rows where 'Year' is NaN or not numeric
    df = df[df['Year'].apply(lambda x: str(x).isdigit())]

    # Convert 'Year' column to integer
    df['Year'] = df['Year'].astype(int)

    # Return the cleaned DataFrame
    return df

# Process each file and append the cleaned DataFrame to the list
for file in file_paths:
    try:
        cleaned_df = clean_file(file)
        cleaned_dataframes.append(cleaned_df)
    except Exception as e:
        print(f"Error processing file {file}: {e}")

# Combine all the cleaned DataFrames into a single DataFrame
combined_data = pd.concat(cleaned_dataframes, ignore_index=True)

week_wage = combined_data

# Rename columns in the weekly wages dataset
week_wage.columns = [
    'year', 
    'total_weekly_wage', 
    'white_weekly_wage', 
    'black_weekly_wage', 
    'asian_weekly_wage', 
    'hispanic_weekly_wage'
]

# Convert relevant columns to numeric to ensure consistency
for col in week_wage.columns[1:]:
    week_wage[col] = pd.to_numeric(week_wage[col], errors='coerce')

# Display the cleaned weekly wages dataset
display(week_wage)

Processing file: /Users/rahulramakrishnan/Downloads/womens-earnings-tables-2018.xlsx

Processing file: /Users/rahulramakrishnan/Downloads/womens-earnings-tables-2019 (1).xlsx
Processing file: /Users/rahulramakrishnan/Downloads/womens-earnings-tables-2020.xlsx
Processing file: /Users/rahulramakrishnan/Downloads/womens-earnings-tables-2021.xlsx
Processing file: /Users/rahulramakrishnan/Downloads/womens-earnings-tables-2022.xlsx
Processing file: /Users/rahulramakrishnan/Downloads/womens-earnings-tables-2023.xlsx

,year,total_weekly_wage,white_weekly_wage,black_weekly_wage,asian_weekly_wage,hispanic_weekly_wage
0,1979,780.0,803.0,644.0,NaN,628.0
1,1980,762.0,782.0,616.0,NaN,608.0
2,1981,755.0,774.0,625.0,NaN,593.0
3,1982,757.0,777.0,614.0,NaN,602.0
4,1983,752.0,769.0,627.0,NaN,601.0
...,...,...,...,...,...,...
760,2019,1205.0,1239.0,920.0,1598.0,894.0
761,2020,1276.0,1309.0,979.0,1706.0,940.0
762,2021,1235.0,1267.0,929.0,1636.0,923.0
763,2022,1202.0,1221.0,959.0,1624.0,924.0
764,2023,1202.0,1225.0,970.0,1635.0,915.0

In [74]:
# Rename the column 'Year of Death' to 'year'
maternal_deaths = maternal_deaths.rename(columns={'Year of Death': 'year'})

# Reset the column index to ensure no naming conflicts
maternal_deaths.columns.name = None

# Preview the DataFrame
print(maternal_deaths.columns)

Index(['Data As Of', 'Jurisdiction', 'Group', 'Subgroup', 'year',
       'Month of Death', 'Time Period', 'Month Ending Date', 'Maternal Deaths',
       'Live Births', 'Maternal Mortality Rate', 'Footnote'],
      dtype='object')

In [75]:
print(reshaped_college_data.columns)
print(infant_mortality_cleaned.columns)
print(health_conditions_pivot.columns)
print(maternal_deaths.columns)
print(household_income.columns)

Index(['year', 'college_col_white', 'college_mkt_white', 'college_dif_white',
       'college_col_hispa', 'college_mkt_hispa', 'college_dif_hispa',
       'college_col_black', 'college_mkt_black', 'college_dif_black',
       'college_col_asian', 'college_mkt_asian', 'college_dif_asian',
       'college_col_amind', 'college_mkt_amind', 'college_dif_amind',
       'college_col_pacis', 'college_mkt_pacis', 'college_dif_pacis',
       'college_col_twora', 'college_mkt_twora', 'college_dif_twora'],
      dtype='object')
Index(['year', 'all_infant_deaths_all_mothers',
       'all_infant_deaths_all_races__hispanic',
       'all_infant_deaths_all_races__hispanic__central_and_south_american',
       'all_infant_deaths_all_races__hispanic__cuban',
       'all_infant_deaths_all_races__hispanic__mexican',
       'all_infant_deaths_all_races__hispanic__other',
       'all_infant_deaths_all_races__hispanic__puerto_rican',
       'all_infant_deaths_american_indian_and_alaska_native',
       'all_infant_deaths_american_indian_and_alaska_native__non-hispanic',
       'all_infant_deaths_american_indian_and_alaska_native_only',
       'all_infant_deaths_american_indian_and_alaska_native_only__non-hispanic',
       'all_infant_deaths_asian_only__non-hispanic',
       'all_infant_deaths_asian_or_pacific_islander',
       'all_infant_deaths_asian_or_pacific_islander__non-hispanic',
       'all_infant_deaths_black', 'all_infant_deaths_black__non-hispanic',
       'all_infant_deaths_black_only',
       'all_infant_deaths_black_only__non-hispanic',
       'all_infant_deaths_native_hawaiian_or_other_pacific_islander_only__non-hispanic',
       'all_infant_deaths_white', 'all_infant_deaths_white__non-hispanic',
       'all_infant_deaths_white_only',
       'all_infant_deaths_white_only__non-hispanic',
       'neonatal_deaths_all_mothers', 'neonatal_deaths_all_races__hispanic',
       'neonatal_deaths_all_races__hispanic__central_and_south_american',
       'neonatal_deaths_all_races__hispanic__cuban',
       'neonatal_deaths_all_races__hispanic__mexican',
       'neonatal_deaths_all_races__hispanic__other',
       'neonatal_deaths_all_races__hispanic__puerto_rican',
       'neonatal_deaths_american_indian_and_alaska_native',
       'neonatal_deaths_american_indian_and_alaska_native__non-hispanic',
       'neonatal_deaths_american_indian_and_alaska_native_only',
       'neonatal_deaths_american_indian_and_alaska_native_only__non-hispanic',
       'neonatal_deaths_asian_only__non-hispanic',
       'neonatal_deaths_asian_or_pacific_islander',
       'neonatal_deaths_asian_or_pacific_islander__non-hispanic',
       'neonatal_deaths_black', 'neonatal_deaths_black__non-hispanic',
       'neonatal_deaths_black_only',
       'neonatal_deaths_black_only__non-hispanic',
       'neonatal_deaths_native_hawaiian_or_other_pacific_islander_only__non-hispanic',
       'neonatal_deaths_white', 'neonatal_deaths_white__non-hispanic',
       'neonatal_deaths_white_only',
       'neonatal_deaths_white_only__non-hispanic',
       'postneonatal_deaths_all_mothers',
       'postneonatal_deaths_all_races__hispanic',
       'postneonatal_deaths_all_races__hispanic__central_and_south_american',
       'postneonatal_deaths_all_races__hispanic__cuban',
       'postneonatal_deaths_all_races__hispanic__mexican',
       'postneonatal_deaths_all_races__hispanic__other',
       'postneonatal_deaths_all_races__hispanic__puerto_rican',
       'postneonatal_deaths_american_indian_and_alaska_native',
       'postneonatal_deaths_american_indian_and_alaska_native__non-hispanic',
       'postneonatal_deaths_american_indian_and_alaska_native_only',
       'postneonatal_deaths_american_indian_and_alaska_native_only__non-hispanic',
       'postneonatal_deaths_asian_only__non-hispanic',
       'postneonatal_deaths_asian_or_pacific_islander',
       'postneonatal_deaths_asian_or_pacific_islander__non-hispanic',
       'postneonatal_deaths_black', 'postneonatal_deaths_black__non-hispanic',
       'postneonatal_deaths_black_only',
       'postneonatal_deaths_black_only__non-hispanic',
       'postneonatal_deaths_native_hawaiian_or_other_pacific_islander_only__non-hispanic',
       'postneonatal_deaths_white', 'postneonatal_deaths_white__non-hispanic',
       'postneonatal_deaths_white_only',
       'postneonatal_deaths_white_only__non-hispanic'],
      dtype='object')
Index(['year', 'asthma_episode/attack_all_ages', 'asthma_episode/attack_asian',
       'asthma_episode/attack_black', 'asthma_episode/attack_female',
       'asthma_episode/attack_other', 'asthma_episode/attack_white',
       'cervical_cancer_all_ages', 'cervical_cancer_asian',
       'cervical_cancer_black', 'cervical_cancer_female',
       'cervical_cancer_other', 'cervical_cancer_white',
       'copd__emphysema__chronic_bronchitis_all_ages',
       'copd__emphysema__chronic_bronchitis_asian',
       'copd__emphysema__chronic_bronchitis_black',
       'copd__emphysema__chronic_bronchitis_female',
       'copd__emphysema__chronic_bronchitis_other',
       'copd__emphysema__chronic_bronchitis_white',
       'coronary_heart_disease_all_ages', 'coronary_heart_disease_asian',
       'coronary_heart_disease_black', 'coronary_heart_disease_female',
       'coronary_heart_disease_other', 'coronary_heart_disease_white',
       'current_cigarette_smoking_all_ages', 'current_cigarette_smoking_asian',
       'current_cigarette_smoking_black', 'current_cigarette_smoking_female',
       'current_cigarette_smoking_other', 'current_cigarette_smoking_white',
       'diagnosed_diabetes__self-reported_all_ages',
       'diagnosed_diabetes__self-reported_asian',
       'diagnosed_diabetes__self-reported_black',
       'diagnosed_diabetes__self-reported_female',
       'diagnosed_diabetes__self-reported_other',
       'diagnosed_diabetes__self-reported_white',
       'hypertension_diagnosis__self-reported_all_ages',
       'hypertension_diagnosis__self-reported_asian',
       'hypertension_diagnosis__self-reported_black',
       'hypertension_diagnosis__self-reported_female',
       'hypertension_diagnosis__self-reported_other',
       'hypertension_diagnosis__self-reported_white',
       'obesity__self-reported_all_ages', 'obesity__self-reported_asian',
       'obesity__self-reported_black', 'obesity__self-reported_female',
       'obesity__self-reported_other', 'obesity__self-reported_white'],
      dtype='object')
Index(['Data As Of', 'Jurisdiction', 'Group', 'Subgroup', 'year',
       'Month of Death', 'Time Period', 'Month Ending Date', 'Maternal Deaths',
       'Live Births', 'Maternal Mortality Rate', 'Footnote'],
      dtype='object')
Index(['geoid', 'name', 'year', 'total_est', 'total_se', 'aian_est', 'aian_se',
       'api_est', 'api_se', 'asian_est', 'asian_se', 'black_est', 'black_se',
       'hisp_est', 'hisp_se', 'nhopi_est', 'nhopi_se', 'nhwhite_est',
       'nhwhite_se', 'other_est', 'other_se', 'othermore_est', 'othermore_se',
       'twomore_est', 'twomore_se', 'white_est', 'white_se'],
      dtype='object')

In [76]:

# Step 1: Extract unique years from each dataset
college_years = set(reshaped_college_data['year'].unique())
infant_years = set(infant_mortality_cleaned['year'].unique())
health_conditions_years = set(health_conditions_pivot['year'].unique())
maternal_years = set(maternal_deaths['year'].unique())
week_wage_years = set(week_wage['year'].unique())

print(college_years)
print(infant_years)
print(health_conditions_years)
print(maternal_years)
print(week_wage_years)

{2016, 2017, 2009, 2010, 2011, 2012, 2013, 2014, 2015}
{1983, 1985, 1990, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021}
{2019, 2020, 2021, 2022, 2023}
{2019, 2020, 2021, 2022, 2023, 2024}
{1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023}

In [77]:
import pandas as pd
import numpy as np

# Define the target range
TARGET_YEARS = range(2017, 2025)

# Function to check and standardize the 'year' column
def ensure_year_column(df, name):
    if "Year" in df.columns:
        df = df.rename(columns={"Year": "year"})
    if "year" not in df.columns:
        raise KeyError(f"'year' column is missing in the dataset: {name}")
    return df

# Function to clean non-numeric data
def clean_numeric_columns(df):
    for col in df.select_dtypes(include=["object"]).columns:
        # Replace non-numeric values with NaN
        df[col] = pd.to_numeric(df[col], errors="coerce")
    return df

# Function to interpolate datasets to the target year range
def interpolate_to_target_years(df, name):
    print(f"Interpolating {name} to {min(TARGET_YEARS)}-{max(TARGET_YEARS)}")
    # Ensure 'year' column exists and is unique
    df = ensure_year_column(df, name)
    df.set_index("year", inplace=True)

    # Clean non-numeric data
    df = clean_numeric_columns(df)

    # Remove duplicate years by averaging duplicate entries
    df = df.groupby(level=0).mean()

    # Reindex to the target years
    df = df.reindex(TARGET_YEARS)

    # Interpolate missing values (linear)
    df.interpolate(method="linear", inplace=True)

    # Reset index to keep 'year' as a column
    df.reset_index(inplace=True)
    return df

# List of datasets and their names
datasets = [
    infant_mortality_cleaned,
    health_conditions_pivot,
    week_wage,
    maternal_deaths,
    reshaped_college_data,
]

dataset_names = ["infant mortality", "health conditions", "weekly wage", "maternal deaths", "college attainment"]

# Step 1: Interpolate each dataset
interpolated_datasets = []
for dataset, name in zip(datasets, dataset_names):
    interpolated_datasets.append(interpolate_to_target_years(dataset, name))

# Step 2: Merge datasets on 'year'
merged_data = interpolated_datasets[0]
for dataset in interpolated_datasets[1:]:
    merged_data = merged_data.merge(dataset, on="year", how="outer")

# Step 3: Preview the merged dataset
print("Final Merged Data:")
display(merged_data)

# List of columns to drop
columns_to_drop = [
    "Data As Of",
    "Jurisdiction",
    "Group",
    "Subgroup",
    "Month of Death",
    "Time Period",
    "Month Ending Date",
    "Footnote"
]

# Drop the columns from the DataFrame
cleaned_df = merged_data.drop(columns=columns_to_drop, errors='ignore')







# Save the final merged dataset to a CSV file

Interpolating infant mortality to 2017-2024
Interpolating health conditions to 2017-2024
Interpolating weekly wage to 2017-2024
Interpolating maternal deaths to 2017-2024
Interpolating college attainment to 2017-2024
Final Merged Data:

,year,all_infant_deaths_all_mothers,all_infant_deaths_all_races__hispanic,all_infant_deaths_all_races__hispanic__central_and_south_american,all_infant_deaths_all_races__hispanic__cuban,all_infant_deaths_all_races__hispanic__mexican,all_infant_deaths_all_races__hispanic__other,all_infant_deaths_all_races__hispanic__puerto_rican,all_infant_deaths_american_indian_and_alaska_native,all_infant_deaths_american_indian_and_alaska_native__non-hispanic,...,college_dif_asian,college_col_amind,college_mkt_amind,college_dif_amind,college_col_pacis,college_mkt_pacis,college_dif_pacis,college_col_twora,college_mkt_twora,college_dif_twora
0,2017,5.8,5.1,4.5,4.0,5.1,5.4,6.5,8.3,8.9,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.13125,3.115245,2.546376,0.568869
1,2018,5.7,4.9,4.0,3.8,4.9,5.4,5.6,7.7,8.1,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.13125,3.115245,2.546376,0.568869
2,2019,5.6,5.0,4.5,4.1,5.0,5.5,6.2,7.5,7.7,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.13125,3.115245,2.546376,0.568869
3,2020,5.4,4.7,3.9,4.2,4.7,4.9,6.3,7.5,7.7,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.13125,3.115245,2.546376,0.568869
4,2021,5.4,4.8,4.2,3.6,4.9,4.7,6.1,7.5,7.7,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.13125,3.115245,2.546376,0.568869
5,2022,5.4,4.8,4.2,3.6,4.9,4.7,6.1,7.5,7.7,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.13125,3.115245,2.546376,0.568869
6,2023,5.4,4.8,4.2,3.6,4.9,4.7,6.1,7.5,7.7,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.13125,3.115245,2.546376,0.568869
7,2024,5.4,4.8,4.2,3.6,4.9,4.7,6.1,7.5,7.7,...,-1.353938,2.486212,1.292032,1.194181,0.315793,0.184544,0.13125,3.115245,2.546376,0.568869

In [78]:
columns_list = cleaned_df.columns.tolist()
print(columns_list)

['year', 'all_infant_deaths_all_mothers', 'all_infant_deaths_all_races__hispanic', 'all_infant_deaths_all_races__hispanic__central_and_south_american', 'all_infant_deaths_all_races__hispanic__cuban', 'all_infant_deaths_all_races__hispanic__mexican', 'all_infant_deaths_all_races__hispanic__other', 'all_infant_deaths_all_races__hispanic__puerto_rican', 'all_infant_deaths_american_indian_and_alaska_native', 'all_infant_deaths_american_indian_and_alaska_native__non-hispanic', 'all_infant_deaths_american_indian_and_alaska_native_only', 'all_infant_deaths_american_indian_and_alaska_native_only__non-hispanic', 'all_infant_deaths_asian_only__non-hispanic', 'all_infant_deaths_asian_or_pacific_islander', 'all_infant_deaths_asian_or_pacific_islander__non-hispanic', 'all_infant_deaths_black', 'all_infant_deaths_black__non-hispanic', 'all_infant_deaths_black_only', 'all_infant_deaths_black_only__non-hispanic', 'all_infant_deaths_native_hawaiian_or_other_pacific_islander_only__non-hispanic', 'all_infant_deaths_white', 'all_infant_deaths_white__non-hispanic', 'all_infant_deaths_white_only', 'all_infant_deaths_white_only__non-hispanic', 'neonatal_deaths_all_mothers', 'neonatal_deaths_all_races__hispanic', 'neonatal_deaths_all_races__hispanic__central_and_south_american', 'neonatal_deaths_all_races__hispanic__cuban', 'neonatal_deaths_all_races__hispanic__mexican', 'neonatal_deaths_all_races__hispanic__other', 'neonatal_deaths_all_races__hispanic__puerto_rican', 'neonatal_deaths_american_indian_and_alaska_native', 'neonatal_deaths_american_indian_and_alaska_native__non-hispanic', 'neonatal_deaths_american_indian_and_alaska_native_only', 'neonatal_deaths_american_indian_and_alaska_native_only__non-hispanic', 'neonatal_deaths_asian_only__non-hispanic', 'neonatal_deaths_asian_or_pacific_islander', 'neonatal_deaths_asian_or_pacific_islander__non-hispanic', 'neonatal_deaths_black', 'neonatal_deaths_black__non-hispanic', 'neonatal_deaths_black_only', 'neonatal_deaths_black_only__non-hispanic', 'neonatal_deaths_native_hawaiian_or_other_pacific_islander_only__non-hispanic', 'neonatal_deaths_white', 'neonatal_deaths_white__non-hispanic', 'neonatal_deaths_white_only', 'neonatal_deaths_white_only__non-hispanic', 'postneonatal_deaths_all_mothers', 'postneonatal_deaths_all_races__hispanic', 'postneonatal_deaths_all_races__hispanic__central_and_south_american', 'postneonatal_deaths_all_races__hispanic__cuban', 'postneonatal_deaths_all_races__hispanic__mexican', 'postneonatal_deaths_all_races__hispanic__other', 'postneonatal_deaths_all_races__hispanic__puerto_rican', 'postneonatal_deaths_american_indian_and_alaska_native', 'postneonatal_deaths_american_indian_and_alaska_native__non-hispanic', 'postneonatal_deaths_american_indian_and_alaska_native_only', 'postneonatal_deaths_american_indian_and_alaska_native_only__non-hispanic', 'postneonatal_deaths_asian_only__non-hispanic', 'postneonatal_deaths_asian_or_pacific_islander', 'postneonatal_deaths_asian_or_pacific_islander__non-hispanic', 'postneonatal_deaths_black', 'postneonatal_deaths_black__non-hispanic', 'postneonatal_deaths_black_only', 'postneonatal_deaths_black_only__non-hispanic', 'postneonatal_deaths_native_hawaiian_or_other_pacific_islander_only__non-hispanic', 'postneonatal_deaths_white', 'postneonatal_deaths_white__non-hispanic', 'postneonatal_deaths_white_only', 'postneonatal_deaths_white_only__non-hispanic', 'asthma_episode/attack_all_ages', 'asthma_episode/attack_asian', 'asthma_episode/attack_black', 'asthma_episode/attack_female', 'asthma_episode/attack_other', 'asthma_episode/attack_white', 'cervical_cancer_all_ages', 'cervical_cancer_asian', 'cervical_cancer_black', 'cervical_cancer_female', 'cervical_cancer_other', 'cervical_cancer_white', 'copd__emphysema__chronic_bronchitis_all_ages', 'copd__emphysema__chronic_bronchitis_asian', 'copd__emphysema__chronic_bronchitis_black', 'copd__emphysema__chronic_bronchitis_female', 'copd__emphysema__chronic_bronchitis_other', 'copd__emphysema__chronic_bronchitis_white', 'coronary_heart_disease_all_ages', 'coronary_heart_disease_asian', 'coronary_heart_disease_black', 'coronary_heart_disease_female', 'coronary_heart_disease_other', 'coronary_heart_disease_white', 'current_cigarette_smoking_all_ages', 'current_cigarette_smoking_asian', 'current_cigarette_smoking_black', 'current_cigarette_smoking_female', 'current_cigarette_smoking_other', 'current_cigarette_smoking_white', 'diagnosed_diabetes__self-reported_all_ages', 'diagnosed_diabetes__self-reported_asian', 'diagnosed_diabetes__self-reported_black', 'diagnosed_diabetes__self-reported_female', 'diagnosed_diabetes__self-reported_other', 'diagnosed_diabetes__self-reported_white', 'hypertension_diagnosis__self-reported_all_ages', 'hypertension_diagnosis__self-reported_asian', 'hypertension_diagnosis__self-reported_black', 'hypertension_diagnosis__self-reported_female', 'hypertension_diagnosis__self-reported_other', 'hypertension_diagnosis__self-reported_white', 'obesity__self-reported_all_ages', 'obesity__self-reported_asian', 'obesity__self-reported_black', 'obesity__self-reported_female', 'obesity__self-reported_other', 'obesity__self-reported_white', 'total_weekly_wage', 'white_weekly_wage', 'black_weekly_wage', 'asian_weekly_wage', 'hispanic_weekly_wage', 'Maternal Deaths', 'Live Births', 'Maternal Mortality Rate', 'college_col_white', 'college_mkt_white', 'college_dif_white', 'college_col_hispa', 'college_mkt_hispa', 'college_dif_hispa', 'college_col_black', 'college_mkt_black', 'college_dif_black', 'college_col_asian', 'college_mkt_asian', 'college_dif_asian', 'college_col_amind', 'college_mkt_amind', 'college_dif_amind', 'college_col_pacis', 'college_mkt_pacis', 'college_dif_pacis', 'college_col_twora', 'college_mkt_twora', 'college_dif_twora']

In [79]:
import numpy as np
from scipy.stats import zscore

# Fill missing values with randomization
def fill_missing_values_randomized(df):
    for col in df.columns:
        if df[col].dtype in ['int64', 'float64']:  # Numeric columns
            median = df[col].median()
            std_dev = df[col].std() * 0.1  # Small fraction of the column's standard deviation
            df[col] = df[col].apply(lambda x: median + np.random.normal(0, std_dev) if np.isnan(x) else x)
        else:  # Non-numeric columns
            mode_values = df[col].mode()
            if not mode_values.empty:
                mode = mode_values[0]
                df[col] = df[col].apply(lambda x: np.random.choice(mode_values) if pd.isnull(x) else x)
    return df

# Apply the function
merged_data = fill_missing_values_randomized(merged_data)

In [80]:
merged_data.to_csv("/Users/rahulramakrishnan/Documents/love_hate_relationship/competitions/cmda_competition/datasets/custom/final_data_2.csv", index=False)